In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vine_table.csv")
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [3]:
df_1 = df[df['total_votes'] >= 20]

In [4]:
df_2 = df_1[df_1['helpful_votes']/df_1['total_votes'] >= .5]
df_2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
103,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
310,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
355,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
423,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
545,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [5]:
df_yes = df_2[df_2['vine'] == 'Y']
df_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
355,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
545,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
925,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7568,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20671,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N

In [6]:
df_no = df_2[df_2['vine'] == 'N']
df_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
103,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
310,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
423,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1175,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1514,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y

In [7]:
total_yes = df_yes['review_id'].count()
total_yes

146

In [8]:
fivestar_yes = df_yes[df_yes['star_rating'] == 5.0]
fivestar_yes = fivestar_yes['review_id'].count()
fivestar_yes

73

In [9]:
percentage_fivestar_yes = fivestar_yes/total_yes*100
percentage_fivestar_yes

50.0

In [11]:
total_no = df_no['review_id'].count()
total_no

4274

In [12]:
fivestar_no = df_no[df_no['star_rating'] == 5.0]
fivestar_no = fivestar_no['review_id'].count()
fivestar_no

2182

In [13]:
percentage_fivestar_no = fivestar_no/total_no*100
percentage_fivestar_no

51.05287786616752